.container {
  width: 607px;
  height: 829px;
  margin: 75px auto auto;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}
.topBar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}
.topBar input {
  display: flex;
  width: 362px;
  height: 78px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font: 400 20px serif;
}
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}
.weatherImage {
  display: flex;
  margin-top: 29px;
  justify-content: center;
}
.weatherTemp {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font: 400 120px serif;
}
.weatherLocation {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font: 400 60px serif;
}
.weatherDate {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font: 400 30px serif;
}
.weatherContainer {
  display: flex;
  margin-top: 50px;
  color: #ffffff;
  justify-content: center;
}
.element {
  display: flex;
  align-items: flex-start;
  margin: auto;
  gap: 12px;
}
.data {
  font: 400 34px serif;
}
.text {
  font: 400 20px serif;
  color: #ffffff;
}
.icon {
  margin-top: 10px;
}
